body {
	margin: 0;
	font-family: sans-serif;
}
header {
	width: 100%;
	background: rgba(201, 201, 201, 0.3);
}
#btn-menu {
	display: none;
}

header label {
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
}
header label:hover {
	cursor: pointer;
}
.logo {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo a {
	text-decoration: none;
	line-height: 1px;
}

.menu ul {
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}
.menu li {
	text-align: center;
	width: auto;
}

.menu li a {
	display: block;
	padding: 50px 75px;
	color: #464646;
	text-decoration: none;
	font-size: 0.91667rem;
	line-height: 1.33;
	font-weight: 600;
	text-transform: uppercase;
}

.link-color1 {
	border-bottom: 3px solid #9f9dca;
}
.link-color2 {
	border-bottom: 3px solid #bc62a9;
}
.link-color3 {
	border-bottom: 3px solid #b524a0;
}
.link-color4 {
	border-bottom: 3px solid #591044;
}
.link-color5 {
	border-bottom: 3px solid #36287d;
}

.link-color1:hover {
	background: #9f9dca;
}
.link-color2:hover {
	background: #bc62a9;
}
.link-color3:hover {
	background: #b524a0;
}
.link-color4:hover {
	background: #591044;
}
.link-color5:hover {
	background: #36287d;
}
.menu li a:hover {
	color: #fff;
	-webkit-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
	transition: 0.5s ease-in;
}

@media screen and (max-width: 1650px) {
	.menu li a {
		padding: 50px 86px !important;
	}
}

@media screen and (max-width: 1600px) {
	.menu li a {
		padding: 50px 82px !important;
	}
}

@media screen and (max-width: 1550px) {
	.menu li a {
		padding: 50px 76px !important;
	}
}

@media screen and (max-width: 1500px) {
	.menu li a {
		padding: 50px 71px !important;
	}
}

@media screen and (max-width: 1450px) {
	.menu li a {
		padding: 50px 66px !important;
	}
}

@media screen and (max-width: 1400px) {
	.menu li a {
		padding: 50px 63px !important;
	}
}

@media screen and (max-width: 1370px) {
	.menu li a {
		padding: 50px 58px !important;
	}
}

@media screen and (max-width: 1330px) {
	.menu li a {
		padding: 50px 55px !important;
	}
}

@media screen and (max-width: 1300px) {
	.menu li a {
		padding: 50px 52px !important;
	}
}

@media screen and (max-width: 1280px) {
	.menu li a {
		padding: 50px 50px !important;
	}
}

@media screen and (max-width: 1250px) {
	.menu li a {
		padding: 50px 49px !important;
	}
}

@media screen and (max-width: 1240px) {
	.menu li a {
		padding: 50px 48px !important;
	}
}

@media screen and (max-width: 1232px) {
	.menu li a {
		padding: 50px 45px !important;
	}
}

@media screen and (max-width: 1220px) {
	.menu li a {
		padding: 50px 44px !important;
	}
}

@media screen and (max-width: 1200px) {
	.menu li a {
		padding: 50px 42px !important;
	}
}

@media screen and (max-width: 1175px) {
	.menu li a {
		padding: 50px 38px !important;
	}
}

@media screen and (max-width: 1160px) {
	.menu li a {
		padding: 50px 37px !important;
	}
}

@media screen and (max-width: 1150px) {
	.menu li a {
		padding: 50px 37px !important;
	}
}

@media screen and (max-width: 1140px) {
	.menu li a {
		padding: 50px 35px !important;
	}
}

@media screen and (max-width: 1120px) {
	.menu li a {
		padding: 50px 33px !important;
	}
}

@media screen and (max-width: 1100px) {
	.menu li a {
		padding: 50px 32px !important;
	}
}

@media screen and (max-width: 1080px) {
	.menu li a {
		padding: 50px 30px !important;
	}
}

@media screen and (max-width: 1054px) {
	.menu li a {
		padding: 50px 27px !important;
	}
}

@media screen and (max-width: 1048px) {
	.menu li a {
		padding: 50px 26px !important;
	}
}

@media screen and (max-width: 1024px) {
	header label {
		display: block;
		float: right;
		width: 100%;
		text-align: right;
		background: rgba(201, 201, 201, 0.3);
	}
	.menu {
		position: absolute;
		top: 50px;
		background: rgba(201, 201, 201, 0.3);
		width: 100%;
		margin-left: -100%;
		transition: all 0.5s;
	}
	.logo a img {
		width: 112px;
	}
	.menu li {
		text-align: left;
	}
	.menu li a {
		padding: 15px 20px !important;
	}
	.menu ul {
		flex-direction: column;
	}

	#btn-menu:checked ~ .menu {
		margin: 0;
	}
}

@media screen and (max-width: 640px) {
	header label {
		display: block;
		float: right;
		width: 100%;
		text-align: right;
		background: rgba(201, 201, 201, 0.3);
	}
	.menu {
		position: absolute;
		top: 50px;
		background: rgba(201, 201, 201, 0.3);
		width: 100%;
		margin-left: -100%;
		transition: all 0.5s;
	}
	.logo a img {
		width: 112px;
	}
	.menu li {
		text-align: left;
	}
	.menu li a {
		padding: 15px 20px !important;
	}
	.menu ul {
		flex-direction: column;
	}

	#btn-menu:checked ~ .menu {
		margin: 0;
	}
}
